/.idea/artifacts/my_web_project_war.xml
/.idea/artifacts/my_web_project_war_exploded.xml
/.idea/dataSources/315abb1f-268d-41e7-ba9d-91439531db81/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/315abb1f-268d-41e7-ba9d-91439531db81/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/.idea/dataSources/315abb1f-268d-41e7-ba9d-91439531db81/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/315abb1f-268d-41e7-ba9d-91439531db81/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/315abb1f-268d-41e7-ba9d-91439531db81.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries/Maven__ch_qos_reload4j_reload4j_1_2_19.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_19_4.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
/.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_29.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_reload4j_1_7_36.xml
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/target/classes/by/sheshko/shop/bean/Product.class
/target/classes/by/sheshko/shop/bean/Role.class
/target/classes/by/sheshko/shop/bean/RoleName.class
/target/classes/by/sheshko/shop/bean/User.class
/target/classes/by/sheshko/shop/bean/UserSessionInfo.class
/target/classes/by/sheshko/shop/controller/command/impl/ChangeLocal.class
/target/classes/by/sheshko/shop/controller/command/impl/ForwardCommand.class
/target/classes/by/sheshko/shop/controller/command/impl/Registration.class
/target/classes/by/sheshko/shop/controller/command/impl/SignIn.class
/target/classes/by/sheshko/shop/controller/command/impl/UserInfo.class
/target/classes/by/sheshko/shop/controller/command/impl/WrongRequest.class
/target/classes/by/sheshko/shop/controller/command/Command.class
/target/classes/by/sheshko/shop/controller/command/CommandName.class
/target/classes/by/sheshko/shop/controller/CommandProvider.class
/target/classes/by/sheshko/shop/controller/Controller.class
/target/classes/by/sheshko/shop/controller/ControllerException.class
/target/classes/by/sheshko/shop/dao/factory/DAOFactory.class
/target/classes/by/sheshko/shop/dao/impl/SQLUserDAO.class
/target/classes/by/sheshko/shop/dao/pool/ConnectionPool$PooledConnection.class
/target/classes/by/sheshko/shop/dao/pool/ConnectionPool.class
/target/classes/by/sheshko/shop/dao/pool/DBParameter.class
/target/classes/by/sheshko/shop/dao/DAOException.class
/target/classes/by/sheshko/shop/dao/DBResourceManager.class
/target/classes/by/sheshko/shop/dao/UserDAO.class
/target/classes/by/sheshko/shop/service/factory/ServiceFactory.class
/target/classes/by/sheshko/shop/service/impl/ClientServiceImpl.class
/target/classes/by/sheshko/shop/service/ClientService.class
/target/classes/by/sheshko/shop/service/ServiceException.class
/target/classes/db.properties
/target/classes/localization.properties
/target/classes/localization_en.properties
/target/classes/localization_ru.properties
/target/classes/log4j.properties
/target/classes/pages.properties
/target/my-web-project-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/bean/Product.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/bean/Role.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/bean/RoleName.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/bean/User.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/bean/UserSessionInfo.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/ChangeLocal.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/ForwardCommand.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/Registration.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/SignIn.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/UserInfo.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/impl/WrongRequest.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/Command.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/command/CommandName.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/CommandProvider.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/Controller.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/controller/ControllerException.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/factory/DAOFactory.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/impl/SQLUserDAO.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/pool/ConnectionPool$PooledConnection.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/pool/ConnectionPool.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/pool/DBParameter.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/DAOException.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/DBResourceManager.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/dao/UserDAO.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/service/factory/ServiceFactory.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/service/impl/ClientServiceImpl.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/service/ClientService.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/by/sheshko/shop/service/ServiceException.class
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/db.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/localization.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/localization_en.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/localization_ru.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/classes/pages.properties
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/css/index.css
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/jsp/errorPage.jsp
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/jsp/header.jsp
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/jsp/registrationPage.jsp
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/log4j-1.2.17.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/mysql-connector-java-8.0.29.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/protobuf-java-3.19.4.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/reload4j-1.2.19.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.36.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/lib/slf4j-reload4j-1.7.36.jar
/target/my-web-project-1.0-SNAPSHOT/WEB-INF/web.xml
/target/my-web-project-1.0-SNAPSHOT/index.jsp
/my-web-project.iml
