<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--   <jsp-config>
           <jsp-property-group>
               <url-pattern>*.jsp</url-pattern>
               <scripting-invalid>true</scripting-invalid>
           </jsp-property-group>
       </jsp-config>-->

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.sheshko.shop.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <filter>
        <display-name>EncodingFilter</display-name>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.sheshko.shop.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>charEncoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/WEB-INF/jsp/errorPage.jsp</location>
    </error-page>

</web-app>